In [1]:
import plotly.plotly as py

In [2]:
import pandas as pd

In [35]:
df = pd.read_csv("/Users/Nischal/Documents/capstone/foreigners.csv", sep=',', encoding='latin-1')
df.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                Numbers and shares of persons with immigrant background by area 1990-2017
Area          1990 Foreign citizens 1991 Foreign citizens 1992 Foreign citizens 1993 Foreign citizens 1994 Foreign citizens 1995 Foreign citizens 1996 Foreign citizens 1997 Foreign citizens 1998 Foreign citizens 1999 Foreign citizens 2000 Foreign citizens 2001 Foreign citizens 2002 Foreign citizens 2003 Foreign citizens 2004 Foreign citizens 2005 Foreign citizens 2006 Foreign citizens 2007 Foreign citizens 2008 Foreign citizens 2009 Foreign citizens 2010 Foreign citizens 2011 Foreign citizens 2012 Foreign citizens 2013 Foreign citizens 2014 Foreign citizens 2015 Foreign citizens 2016 Foreign citizens                              2017 Foreign citizens
WHOLE COUNTRY 26255                 37579                 46250                 55587                 62012                 68566                 73754                 80600                 85060                 87680                 91074                 98577                 103682                107003                108346                113852                121739                132708                143256                155705                167954                183133                195511                207511                219675                229765                243639                                                            249452
Akaa          70                    84                    76                    96                    99                    101                   92                    83                    84                    83                    82                    100                   109                   112                   113                   138                   158                   167                   202                   170                   190                   211                   232                   241                   249                   249                   258                                                                  261
Alaj√§rvi      26                    49                    49                    49                    57                    63                    64                    76                    75                    73                    68                    71                    69                    55                    62                    64                    77                    90                    97                    130                   167                   198                   194                   226                   231                   207                   179                                                                  189
Alavieska     2                     0                     1                     4                     3                     1                     5                     5                     7                     7                     9                     10                    10                    12                    12                    13                    12                    11                    11                    8                     11                    8                     18                    21                    17                    20                    15                                                                    16

In [36]:
df = pd.read_csv("/Users/Nischal/Documents/capstone/foreigners2017.csv", sep=',', encoding='latin-1')
df.head(10)

            Area  Foreigners        lat        lon
0  WHOLE COUNTRY      249452        NaN        NaN
1           Akaa         261  61.166667  23.866667
2       Alaj_rvi         189  63.000000  23.816667
3      Alavieska          16        NaN        NaN
4         Alavus         130        NaN        NaN
5       Asikkala         136        NaN        NaN
6         Askola          89        NaN        NaN
7           Aura          88        NaN        NaN
8         Br_nd_          38        NaN        NaN
9         Ecker_         109        NaN        NaN

In [37]:
df['text'] = df['Area'] + '<br>immigrants ' + (df["Foreigners"]).astype(str)

In [38]:
limits = [(0,2),(3,10),(11,20),(21,50),(50,3000)]
colors = ["rgb(0,116,217)","rgb(255,65,54)","rgb(133,20,75)","rgb(255,133,27)","lightgrey"]
cities = []
scale = 5000

In [40]:
for i in range(len(limits)):
    lim = limits[i]
    df_sub = df[lim[0]:lim[1]]
    city = dict(
        type = 'scattergeo',
        locationmode = 'Finland',
        lon = df_sub['lon'],
        lat = df_sub['lat'],
        text = df_sub['text'],
        marker = dict(
            size = df_sub['Foreigners']/scale,
            # sizeref = 2. * max(df_sub['pop']/scale) / (25 ** 2),
            color = colors[i],
            line = dict(width=0.5, color='rgb(40,40,40)'),
            sizemode = 'area'
        ),
        name = '{0} - {1}'.format(lim[0],lim[1]) )
    cities.append(city)layout = dict(
title = '2014 US city populations<br>(Click legend to toggle traces)',
        showlegend = True,
        geo = dict(
            scope='finland',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = 'rgb(217, 217, 217)',
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"
        ),
    )

fig = dict(data=cities, layout=layout)
py.iplot(fig, validate=False, filename='d3-bubble-map-populations')

SyntaxError: invalid syntax (<ipython-input-40-d20ce0b12856>, line 18)